
// @import "~taro-ui/dist/style/components/icon.scss";
// @import "~taro-ui/dist/style/components/checkbox.scss";
@import './utils.scss';

$cls-prefix: 'cp-tree';

.#{$cls-prefix} {
  .tree {
    padding-left: 36px;
    &-item-content {
      position: relative;
    }
    &-item-more {
      width: 80px;
      height: 90px;
      position: absolute;
      padding-right: 16px;
      top: 0;
      right: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.#{$cls-prefix}-radio {
  .tree-item-radio {
    color: #333;
    font-size: 32px;
    padding: 24rpx 32rpx 24rpx 0;
    @include hairline-bottom(#d6e4ef);
    .label {
      padding-right: 24px;
    }
    .checked {
      color: #1890FF;
    }
    .disabled {
      opacity: 0.3;
    }
  }
}


.#{$cls-prefix}-multiple {
  .at-checkbox::before {
    border-top: 0;
  }
}


